= paginator.render do
  %nav{:aria => { :label => 'pager' }, :role => 'navigation'}
    %ul.pagination.justify-content-center
      = prev_page_tag
      - each_page do |page|
        - if page.display_tag?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
      = next_page_tag
